
{% extends "/layout/loggedout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

    <h2 class="title"><a href="#">Anmelden</a></h2>
    <div style="clear: both;">&nbsp;</div>

    <div class="entry">

        <form action="/index.php/login" method="post">

            <dt><label for="username">User</label></dt>
            <dt><input name="username" id="username"></dt>

            <dt><label for="password">Passwort</label></dt>
            <dt><input name="password" id="password" type="password"></dt>

            <input type="submit">

        </form>
    </div>
{% endblock %}


