<form action="/index.php/login" method="post">

    <label for="username">User</label>
    <input name="username" id="username">

    <label for="password">Passwort</label>
    <input name="password" id="password" type="password">

    <input type="submit">

    <a href="/index.php/register">Registrieren</a>
</form>