{% extends "/layout/loggedout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

    <h2 class="title"><a href="#">Registrieren</a></h2>
    <div style="clear: both;">&nbsp;</div>

        <div class="entry">
        <form action="/index.php/register" method="post">

            <dt><label for="username">User</label></dt>
            <dt><input name="username" id="username"></dt>

            <dt><label for="password">Passwort</label></dt>
            <dt><input name="password" id="password" type="password"></dt>

            <dt><label for="forename">Vorname</label></dt>
            <dt><input name="forename" id="forename"></dt>

            <dt><label for="surname">Nachname</label></dt>
            <dt><input name="surname" id="surname"></dt>

            <input type="submit">
        </form>
    </div>
{% endblock %}