<form action="/index.php/register" method="post">

    <label for="username">User</label>
    <input name="username" id="username">

    <label for="password">Passwort</label>
    <input name="password" id="password" type="password">

    <label for="forename">Vorname</label>
    <input name="forename" id="forename">

    <label for="surname">Nachname</label>
    <input name="surname" id="surname">

    <input type="submit">
</form>