{% extends "/layout/index.twig" %}

{% block sidebar %}
    <ul>
        <li>
            <div style="clear: both;">&nbsp;</div>
        </li>
        <li>
            <h2><a href="/">Home</a></h2>
        </li>
        <li>
            <h2><a href="/index.php/register">Registrieren</a></h2>
        </li>
    </ul>
{% endblock %}